/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 06.04.2023, 23:29:45
    Author     : Kyoko
*/

table{
    height: 400px;
}



table, th, td, tr{
  border: 1px solid black;
  width: 100%;
}

th{
    width: 300px;
}


#select_menu{
    position: absolute;
    left: 20px;
    top: 470px;
    width: 200px;
}

#rezepte_details{
    position: absolute;
    left: 240px;
    top: 470px;
    width: 480px;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
}








